<h1>welcome to homepage</h1>

<div>
    <a class="links" href="/api/destroy-session">Log-Out</a>
</div>

<div>
    <h3>My name: <%= locals.user.username %> </h3>
</div>

<ul>
    <% for (user of all_users){ %>
        <p><%= user.username%></p>
    <% } %>
</ul>