

<h1>welcome to homepage</h1>

<div>
    <a class="links" href="/api/destroy-session">Log-Out</a>
</div>

<div>
    <h3>My name: <a href="/api/my-profile"><%= locals.user.username %></a></h3>
</div>

<% for (user of all_users){ %>
    
    <ul>
        <%= user.username%>
        <br>
        <span>Off Hours: </span>
        <% for(hour of user.offHours){ %>
        <ul>
            <%= hour%>
        </ul>
        <% } %>

        <!-- <span>Status: </span>
        <%if(user.status == "false"){%>
            <span>Not Available</span>
        <% }else{ %>
            <span>Available</span>
        <% } %> -->
        
    </ul>
<% } %>

