<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.css">

<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.js"></script>

<h1>welcome to homepage</h1>

<div>
    <a class="links" href="/api/destroy-session">Log-Out</a>
</div>

<div>
    <h3>My name: <a href="/api/my-profile"><%= locals.user.username %></a></h3>
</div>

<% for (user of all_users){ %>
    <ul>
        <%= user.username%>
        <br>
        <span>Status: </span>
        <%if(user.status == "false"){%>
            <span>Not Available</span>
        <% }else{ %>
            <span>Available</span>
        <% } %>
        
    </ul>
<% } %>

<form action="">
    <input type="text" id="datetimerange-input1" size="40" style="text-align:center">
    <button type="submit" onclick="">Mark as Not Available</button>
</form>


<script>
    window.addEventListener("load", function (event) {
        new DateRangePicker('datetimerange-input1',
            {
                timePicker: true,
                opens: 'left',
                ranges: {
                    'Today': [moment().startOf('day'), moment().endOf('day')],
                    'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                    'Last 7 Days': [moment().subtract(6, 'days').startOf('day'), moment().endOf('day')],
                    'This Month': [moment().startOf('month').startOf('day'), moment().endOf('month').endOf('day')],
                },
                locale: {
                    format: "YYYY-MM-DD HH:mm:ss",
                }
            },
            function (start, end) {
                alert(start.format() + " - " + end.format());
            })
    });
</script>