

<div class="container" style="width: 135px;">  
    <div style="position: relative">  
        <input class="form-control" type="text" id="datetime"/>  
    </div>  
 </div>

<script>
    $('#datetime').datetimepicker({
        format: 'hh:mm:ss a'
    });
</script>