

<div class="container" style="margin: 100px">  
    <div style="position: relative">  
        <input class="form-control" type="text" id="time"/>  
    </div>  
 </div>

<script>
    $('#time').datetimepicker({
        format: 'yyyy-mm-dd'
    });
</script>