<h1>This is Log-In page</h1>

<form action="/api/log-in/create-session" method="POST" class="sign-in-form">
    <h2 class="title">Log<span>In</span></h2>

    <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="email" name="email" placeholder="E-mail" required/>
    </div>

    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required/>
    </div>

    <input type="submit" value="Login" class="btn solid" />
    <p class="social-text">Or Log in with social platforms</p>
    
    <div class="social-media">
        <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="/auth-s/google" class="social-icon">
            <i class="fab fa-google"></i>
        </a>
    </div>
</form>

<div>
    <a class="links" href="/api/sign-up">Sign-Up</a>
</div>