<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Include Bootstrap and jQuery CDN into your <head> before all other stylesheets to load our CSS.  -->
        <!-- <link href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css” rel=”stylesheet”>
        <script src=”https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js”></script>
        <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js”></script> -->
    
        <!-- Include DateTimePicker JS and CSS CDN just after the Bootstrap CSS CDN. -->
        <!-- <script type=”text/javascript” src=”https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js”></script>
        <link href=”https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css” rel=”stylesheet”>
        <script src=”https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js”> </script> -->
    

    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <!-- extracting styles from subpages into layout -->
<!-- 
    <link href="/css/mobiscroll.javascript.min.css" rel="stylesheet" />
    <script src="/js/mobiscroll.javascript.min.js"></script> -->

    <%- style %>

    

</head>
<body>
    
     <!-- Layout is just a wrapper -->
    <!-- predefined keyword for variables that will be filled-in here -->
    <%- body %>


    

    <!-- extracting scripts from subpages into the layout -->
    <%- script %>


</body>

</html>